@import "../../../index.scss";


#modalMain {
  width: 100%;
  height: calc(100vh - 205px);
  background: rgba(130, 194, 191, 0.75);
  z-index: 100;
  position: absolute;
}

#modalMain::before {
  content: "Hello, world!";
  color: white;
  font-size: 50px;
}
