/*
 * *** Default colors ***
 */
$tiffany : #82C2BF;
$rose-dark : #A65E5E;
$rose-light : #C28285;
$baby-pink : #E0C0C2;
$white : #F1EAEA;
$snow : #FFFCFC;
$black : #0D1313;

/*
 * *** Media Query Values ***
 *  - Usage example: @media (min-width: $screen-size-min) {...}
 *                   @media (max-width: $screen-size-max) {...}
 */
$screen-xl-min: 1200px;
$screen-lg-max: 1199.98px;
$screen-lg-min: 992px;
$screen-md-max: 991.98px;
$screen-md-min: 768px;
$screen-sm-max: 767.98px;
$screen-sm-min: 576px;
$screen-xs-max: 575.98px;


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  max-height: 100vh;
  background-color: $snow;
}

code {
  font-family: avenirbook, sans-serif;
  border: 1px solid rgba(166, 94, 94, 0.6);
  background-color: rgba(166, 94, 94, 0.6);
}

// text declarations, responsive font size
h1, .h1 {
  font-family: slim-joe, sans-serif;
  font-size: calc(32px + 2vmin);
}
h2, .h2 {
  font-family: slim-joe, sans-serif;
  font-size: calc(24px + 2vmin);
}
h3, .h3 {
  font-family: slim-joe, sans-serif;
  font-size: calc(18px + 2vmin);
}
h4, .h4 {
  font-family: slim-joe, sans-serif;
  font-size: calc(16px + 2vmin);
}
h5, .h5 {
  font-family: slim-joe, sans-serif;
  font-size: calc(14px + 2vmin);
}
h6, .h6 {
  font-family: slim-joe, sans-serif;
  font-size: calc(12px + 2vmin);
}
p {
  font-family: avenirlight, sans-serif;
  font-size: calc(10px + 2vmin);
  text-align: justify;
}
a {
  color: $tiffany;
  font-size: calc(10px + 2vmin);
  &:hover {
    color: $rose-dark;
  }
}

// Custom, Global Scrollbar
// /* width */
// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }
// /* Track */
// ::-webkit-scrollbar-track {
//   background: $white;
// }
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $tiffany;
//   border-radius: 10px;
// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $rose-dark;
// }
